@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

body {
  direction: rtl;
}

@layer components {
  .container {
    @apply max-w-[100vw] md:max-w-7xl mx-auto px-4;
  }
}

@layer utilities {
  .bg-gradient-primary {
    @apply bg-gradient-to-b from-primary to-primary-dark;
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-secondary to-secondary-dark;
  }

  .card-shadow {
    @apply shadow-lg hover:shadow-xl transition-shadow duration-300;
  }
}