@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  direction: rtl;
  overflow-x: hidden;
  max-width: 100%;
}

html, body {
  overflow-x: hidden;
  max-width: 100%;
}

@layer utilities {
  .container {
    @apply max-w-[100vw] md:max-w-7xl mx-auto;
  }
}